{
	email admin@example.com
}

call.example.com {
	encode zstd gzip
	header {
		Strict-Transport-Security "max-age=31536000"
		-Server
	}
	reverse_proxy 127.0.0.1:3000 {
		stream_close_delay 5m
	}
}

jitsi.example.com {
	encode zstd gzip
	@noise_suppressor path /libs/noise-suppressor-worklet.min.js
	header @noise_suppressor Cache-Control "public, max-age=86400"
	header {
		Strict-Transport-Security "max-age=31536000"
		-Server
	}
	reverse_proxy 127.0.0.1:8000 {
		stream_close_delay 5m
	}
}
